    *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    body{
    background-color: rgb(34, 34, 34);
    }

    @-ms-viewport {width: device-width;}

    @font-face {
    font-family: 'Camphor Pro';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('https://i02.appmifile.com/i18n/fonts/CamphorPro/vf/4.woff2?v=l2sud670') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    @font-face {
    font-family: 'Xiaomi Brand';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url('https://i02.appmifile.com/i18n/fonts/Brand/Brand.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
    }

    div.container{
    max-width: 1440px;
    background-color: #fff;
    background-position-y: center;
    background-repeat: repeat-y;
    }

    div.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    }

    .col-sm-12-s101{
    position: relative;
    width: 100%;
    min-height: 1px;
    }

    .col-sm-12-s101 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    }

    .row-s101 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    }

    .spacing{padding: 3rem;}
    .spacing-galery{padding: 12rem;}

    /***************************** Roots Color ******************************************/

    :root{
    --background-white: #ffff;
    --background-black: #111;
    --background-bege: #c59553;
    --background-silver: #f1f1f1;

    --text-white: #fff;
    --text-preto: #000;
    --text-bege: #D1A152;
    --text-silver: #c7c7c7;
    }

    .txt-branco {color: var(--text-white);}
    .txt-preto{color: var(--text-preto)}
    .txt-bege{color: var(--text-bege);}
    .txt-silver{color: var(--text-silver);}

    .boxcolor-white{background-color: var(--background-white);}
    .boxcolor-bege{background-color: var(--background-bege);}
    .boxcolor-black{background-color: var(--background-black);}
    .boxcolor-silver{background-color: var(--background-silver);}

    /***************************** Img & Icons ******************************************/

    img {vertical-align: middle; border-style: none;}

    .img-fluid {max-width: 100%; height: auto;}
    .img-mob{display: none;}
    .img-desk{display: block;}

    /***************************** Fonts Text ******************************************/

    h2.title-xiaomi{
    font-family: 'Xiaomi Brand';
    font-size: 3.5rem;
    font-weight: 900;
    font-display: swap;
    position: relative;
    overflow-wrap: break-word;
    }

    span.title-segound{
    font-family: 'Camphor Pro';
    font-size: 3.5rem;
    font-weight: 700;
    font-display: swap;
    position: relative;
    overflow-wrap: break-word;
    line-height: 1.3;
    }

    p.text-title{
    font-family: 'Camphor Pro';
    font-size: 1.8rem;
    font-weight: 400;
    font-display: swap;
    position: relative;
    overflow-wrap: break-word;
    }

    .subtitle {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    font-family: 'Camphor Pro';
    position: relative;
    overflow-wrap: break-word;
    }

    h2.subtitle-left-bege {
    text-align: left;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }

    h2.subtitle-icon {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 800;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }

    h2.subtitle-left {
    text-align: left;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }

    h2.subtitle-center {
    text-align: center;
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }

    h2.subtitle-center-01 {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    overflow-wrap: break-word;
    }

    p.p-center {
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    line-height: 1.3;
    overflow-wrap: break-word;
    }

    p.p-left {
    font-size: 1.1rem;
    text-align: left;
    font-family: 'Camphor Pro', sans-serif;
    position: relative;
    line-height: 1.5;
    overflow-wrap: break-word;
    }

    p.p-notas{
    text-align: left;
    font-size: 1rem;
    padding: 5rem;
    font-family: 'Camphor Pro', sans-serif;
    }

    /***************************** Grid ******************************************/

    .grid-title {
    position: absolute;
    left: 10rem;
    top: 20rem;
    bottom: 0;
    height: 6rem;
    display: flex;
    flex-direction: column;
    }

    .grid-04-box {
    position: absolute;
    right: 0;
    left: 61px;
    top: 10rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 45%;
    height: 16rem;
    gap: 1rem;
    }

    .grid-05{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 2rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    }

    .grid-05-box {
    position: absolute;
    right: 0;
    left: 0;
    top: 5rem;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 71%;
    height: 13rem;
    margin: 0 auto;
    gap: 1rem;
    }

    .grid-06-box {
    position: absolute;
    right: 0;
    left: 107px;
    top: 319px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 45%;
    height: 17rem;
    gap: 1rem;
    }

    .grid-07-box {
    position: absolute;
    right: 0;
    left: 57%;
    top: 35%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 32%;
    height: 17rem;
    gap: 1rem;
    }

    .grid-08-box {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 32rem;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    }

    .grid-09-box {
    position: absolute;
    right: 0;
    left: 6%;
    top: 33%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 37%;
    height: 17rem;
    gap: 2rem;
    }

    .grid-11-box {
    position: absolute;
    right: 0;
    left: 0;
    top: 172px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    }
    .grid-12-box {
    position: absolute;
    right: 0;
    left: 4%;
    top: 22%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 40%;
    gap: 2rem;
    }

    .grid-14-box {
    position: absolute;
    right: 0;
    left: 8%;
    top: 12%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 37%;
    height: 17rem;
    gap: 1rem;
    }

    .grid-15-box {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 17rem;
    gap: 2rem;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    }

    .grid-icons{
    display: flex;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4rem;
    }


    .grid-icons-02 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;
    width: 31rem;
    justify-content: space-around;
    }
    .grid-icon-text {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
    align-content: center;
    }

    /***************************** Mobile ************************************************/

    @media only screen and (max-width: 920px) {
    
    .container{
        display: none;
    }

    .spacing{padding: 1rem;}
    .spacing-galery{padding: 1rem;}

    .img-desk{display: none;}
    .img-mob{display: block;}



    /***************************** Grid *************************************************/

    .grid-title {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    }

    /***************************** Fonts Text ******************************************/





    }    